In [ ]:
## UNION / INTERSECT
-- find all film with 'Fred' in the title
SELECT *
FROM film
WHERE LOWER(title) LIKE '%fred%';

--find all films that mention squirrels in the description
SELECT *
FROM film
WHERE LOWER(description) LIKE '%squirrel%';

--find the intersection of the two previous subqueries
-- hint: there's two

In [ ]:
SELECT *
FROM film
WHERE LOWER(title) LIKE '%fred%'

INTERSECT

SELECT *
FROM film
WHERE LOWER(description) LIKE '%squirrel%';

-

In [ ]:
## SUBQUERY
-- Get the emails of all customers that shop at store 1 that are inactive (use 'active')
SELECT customer_id, email, active
From customer
WHERE store_id = 1 AND active = 0
ORDER BY last_update;

--How much have these customers spent? (Use code from the previous query to
-- make a subquery or a CTE to solve this one.) 
SELECT customer_id, SUM(amount)
FROM payment 
WHERE customer_id IN (SELECT customer_id
						From customer
						WHERE store_id = 1 AND active = 0
						ORDER BY last_update)
GROUP BY customer_id;

In [ ]:
# TO SUBQUERY
SELECT customer_id,
FROM payment
WHERE customer_id IN
                    (SELECT customer_id, email, active
                    From customer
                    WHERE store_id = 1 AND active = 0
                    ORDER BY last_update)

-

In [ ]:
## WHERE CLAUSE
-- Nostalgiac family friendly English films on a budget with a short attention span!:
-- return all films with language ID of 1 and is rated G, PG, or PG-13,
-- and have a rental rate less than $3 and a replacement cost less than $10,
-- and last less than an hour and a half long, from the year 2006 or earlier
SELECT *
FROM film
WHERE language_id = 1 AND
	  rating IN ('G', 'PG', 'PG-13') AND
	  rental_rate < 3 AND
	  replacement_cost < 15 AND
	  release_year <= 2006 AND
	  length < 90;

-

In [ ]:
## CONVERT SUBQUERY TO CTE
-- Return all purchases from the longest standing customer
-- (ie customer who has the earliest payment_date)
SELECT * 
FROM payment
WHERE customer_id = (SELECT customer_id
					  FROM payment
					  ORDER BY payment_date
					 LIMIT 1);


-- Return all purchases from the longest standing customer
-- (ie customer who has the earliest payment_date)

WITH oldest_customer AS (
	SELECT customer_id
	FROM payment
	ORDER BY payment_date
	LIMIT 1
)

SELECT * 
FROM payment
WHERE customer_id = (SELECT * FROM oldest_customer);

In [ ]:
## SUBQUERY TO CTE
SELECT * 
FROM payment
WHERE customer_id = (SELECT customer_id
					  FROM payment
					  ORDER BY payment_date
					 LIMIT 1);

-

In [ ]:
## OFFSET
-- What are the NEXT 10 longest R rated movies?
-- hint: google "how to get next 10 records in sql"
SELECT *
FROM film
WHERE rating='R'
ORDER BY length DESC
LIMIT 10 OFFSET 30;

-

In [ ]:
## AGG DISTINCT
# How many unique release_years are there in the dvd rental database?
# Return an exact number
SELECT COUNT (DISTINCT release_year)
FROM film;

SELECT DISTINCT (first_name, last_name)

-

In [ ]:
## DESCRIBE IT
SELECT c.name, COUNT(f.film_id) as total
FROM film as f
JOIN film_category AS fc  ON f.film_id=fc.film_id
JOIN category AS c ON fc.category_id=c.category_id
GROUP BY c.category_id 
ORDER BY total DESC;

--(extra specific...)
--1 film as f JOIN film_category AS fc ON f.film_id=fc.film_id
--2 #1 JOIN category AS c ON fc.category_id=c.category_id
--3 FROM #2
--4 GROUP BY c.category_id
--5 SELECT c.name, COUNT(f.film_id) as total
--6 ORDER BY total DESC;

-- OR...
-- We first join the film table and the film_category table, we then take that 
-- and join it to the category table. We take that result and we group all the 
-- rows by category_id. From that we return name and the count of film_id in 
-- each category. We then order the results by highest count to lower count for
-- each category.

In [ ]:
SELECT *
FROM payment
WHERE amount > (SELECT AVG(amount) FROM payment);

--1 FROM payment
--2     FROM payment (in subquery)
--3     SELECT AVG(amount)
--4 WHERE amount > #3
--5 SELECT *

-- OR...
--We first take payment table, and then put it aside for a moment and do the following...
--(Go to the payment table, and return the average amount of all rows and return it as a number)
-- We then filter all rows from the original payment table that have an amount less
-- than the result of the subquery. From those rows we return all columns.